html, body {
    background-color: #FAFAFA;
    color: #636b6f;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    padding: 2%;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.navbar {
    background-color: white;
}

a.navbar-brand {
    color: #aa2e25 !important;
}

.gallery {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gallery img {
    border-radius: 10px;
    width: 100%;
}

.gallery ul {
    list-style: none;
}

.gallery a {
    color: #212121;
}

.video-title {
    font-weight: bolder;
    text-overflow: ellipsis;
}

.video-author {

}
